.collection-list {
   font-size: 1rem;
}

:target::before {
    content: "";
    display: block;
    height: 100px; /* Adjust this value according to your needs */
    margin-top: -100px; /* Same value as height */
}